.top-banner, .top-div{
    border-radius: 50px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.top-div{
    background-color: #35b579;
    padding-bottom: 50px;
    color: #fff;
}
.mobile-bg{
    background-color: #fff;
    // background-color: #5c6773;
    /* background-color: #314357; */

}
.blue-bg{
    background-color: #314357;
    color: #ffffff;
}
.blue-dark-bg{
    background-color: #283748;
    color: #ffffff;
}
.orange-bg{
    background-color: #e1b573;
    color: #314357;
}
.green-bg{
    background-color: #13967e;
      color: #ffffff;
}
.blue-color{
    color: #314357;
}
.blue-dark-color{
    color: #283748;
}
.blue-muted-color{
    color: #8096af;
}
.orange-color{
    color: #e1b573;
}
.green-color{
    color: #11bd9e;
}
.btn.stx{
    border: 2px solid;
}
.btn.btn-outline-primary.stx {
  border-color: #11bd9e;
  color: #11bd9e;
}
.btn.btn-outline-primary:hover.stx {
  border-color: #11bd9e;
  background-color: #11bd9e;
  color: #314357;
}
.btn.btn-outline-secondary.stx {
  border-color: #283748;
  color: #283748;
  font-weight: bold;
}
.btn.btn-outline-secondary:hover.stx {
  border-color: #283748;
  background-color: #283748;
  color: #ffffff;
}
